<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout = "http://wwww.ultraq.net.nz/thymeleaf/layout"
       layout:decorate = ~{layout}>

    <main layout:fragment="main">
        <div class="w-50 p-1 text-center rounded" style="background-color: #008170">
            <h3>!Retiro Exitoso¡</h3>
            <h4>Mario Ivan Marin Colorado</h4>
            <p class="fs-1 fw-bold"> $2175</p>
            <p class="m-0">Saldo disponible</p>
            <div class="mt-5 rounded" style="background-color: rgba(247,
                 243, 233, 0.6);">
                
                <div style="grid-template-columns: 1fr 1fr;" class=" mt-3 d-grid gap-3">
                    <a class="btn btn-danger fs-5">Cancelar <i class="bi bi-x-circle"></i> </a>
                    <button type="submit" class="btn btn-warning fs-5" id="submit">Continuar <i
                            class="bi bi-arrow-right-square"></i></button>                   
                </div>
            </div>
        </div>
    </main>
</html>