<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate=~{layout}>
    <main layout:fragment="main">
        <div class="d-flex justify-content-center m-3">
            <div class="w-50 p-1 text-center rounded" style="background-color: #008170">
                <div class = "ocultar" id="carga">
                    <section class="dots-container">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </section>
                </div>
                <div id="panelRetiro" class="mostrar">
                    <input type="hidden" th:value="${usuario.Saldo}" id="saldo">
                    <h3>!Hola¡</h3>
                    <h4 class="text-capitalize" th:text = "|${usuario.nombre} ${usuario.apellidoPaterno} ${usuario.ApellidoMatreno}|"></h4>
                    <p class="fs-1 fw-bold" th:text="|$ ${usuario.Saldo}|"> </p>
                    <p class="m-0">Saldo disponible</p>
                    <div class="mt-5 rounded" style="background-color: rgba(247,
                         243, 233, 0.6);">
                        <form class="p-2" method="POST"  id ="formulario" >
                            <div class="mb-3 p-1 row d-flex justify-content-center">
                                <label for="retiro" class="form-label text-center
                                       fs-4" onclick="">Retiro</label>
                                <input type="number" class="form-control w-50" id="retiro" aria-describedby="emailHelp"
                                       readonly>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div style="grid-template-columns: 1fr 1fr 1fr;"
                                     class="col-6 bg-white d-grid gap-3 p-2 rounded">
                                    <button type="button" class="btn btn-secondary  fs-5  " value=1
                                            onclick="clickNumero(this)">1</button>
                                    <button type="button" class="btn btn-secondary  fs-5  " value=2
                                            onclick="clickNumero(this)">2</button>
                                    <button type="button" class="btn btn-secondary  fs-5  " value=3
                                            onclick="clickNumero(this)">3</button>
                                    <button type="button" class="btn btn-secondary  fs-5  " value=4
                                            onclick="clickNumero(this)">4</button>
                                    <button type="button" class="btn btn-secondary  fs-5  " value=5
                                            onclick="clickNumero(this)">5</button>
                                    <button type="button" class="btn btn-secondary  fs-5  " value=6
                                            onclick="clickNumero(this)">6</button>
                                    <button type="button" class="btn btn-secondary  fs-5  " value=7
                                            onclick="clickNumero(this)">7</button>
                                    <button type="button" class="btn btn-secondary  fs-5  " value=8
                                            onclick="clickNumero(this)">8</button>
                                    <button type="button" class="btn btn-secondary  fs-5  " value=9
                                            onclick="clickNumero(this)">9</button>
                                    <button type="button" class="btn btn-secondary  fs-5  " onclick="clickCentavo(this)" value="0.5">+0.5</button>
                                    <button type="button" class="btn btn-secondary  fs-5  " value="0" onclick="clickNumero(this)">0</button>
                                    <button type="button" class="btn btn-danger  fs-5  " onclick="borrar()">C</button>
                                    <button type="button" class="btn btn-secondary  fs-5 disabled  "
                                            ></button>
                                    <button type="button" class="btn btn-secondary  fs-5  disabled" 
                                </button>
                                <button type="button" class="btn btn-danger  fs-5 " onclick="restar()"><i
                                        class="bi bi-arrow-left"></i></button>
                            </div>
                        </div>
                        <div style="grid-template-columns: 1fr 1fr;" class=" mt-3 d-grid gap-3">
                            <a class="btn btn-danger fs-5">Cancelar <i class="bi bi-x-circle"></i> </a>
                            <button type="submit" class="btn btn-warning fs-5" id="submit">Continuar <i
                                    class="bi bi-arrow-right-square"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="panelExito">

            </div>

        </div>        
    </div>  
    <input  th:if="${param.error != null}" type="hidden"  th:value="${param.error}" id = "inputError" />
    <div class="modal" tabindex="-1" id ="modalError">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                    <button type="button" class="btn-close fs-4" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fs-2 text-danger Semibold weight text. " id="modal-text">

                </div>                   
            </div>
        </div>
    </div>
    <script>
        function clickCentavo(elemento) {
            const valorBtn = elemento.value;
            const valorInput = $("#retiro").val();
            if (valorInput.trim().length != 0) {
                var num1 = parseFloat(valorBtn);
                var num2 = parseFloat(valorInput)
                var v = num1 + num2;
                $("#retiro").val(v);
            } else {
                $("#retiro").val(valorBtn);
            }
        }
        function clickNumero(elemento) {
            const valorBtn = elemento.value;
            const valorInput = $("#retiro").val();
            if (valorInput.includes(".")) {
                const array = valorInput.split(".");
                var v = array[0] + valorBtn + "." + array[1];
                $("#retiro").val(v);
            } else {
                var v = valorInput + valorBtn;
                $("#retiro").val(v);
            }

        }
        function borrar() {
            $("#retiro").val("");
        }
        function restar() {
            if ($("#retiro").val() != "") {
                var v = $("#retiro").val();
                const valor = v.slice(0, -1);
                $("#retiro").val(valor);
            }
        }
        function validarRetiro() {
            var valida = true;
            const  retiro = parseFloat($("#retiro").val());
            if (retiro > parseFloat($("#saldo").val())) {
                activaModal("El retiro es superior a tu saldo");
                valida = false;
            }
            return valida;
        }
        async function enviarRetiro() {
            try {
                const retiro = $("#retiro").val();
                const response = await  fetch("http://localhost:8080/cajero/retiro",
                        {
                            method: "POST",
                            body: JSON.stringify({object: retiro}),
                        });
                const data = await response.json();
                $("#carga").removeClass("mostrar");
                $("#carga").addClass("ocultar");
            } catch (e) {
                console.log(e);
            }
        }
        $(document).ready(() => {
            $("#formulario").submit(function () {
                if (validarRetiro()) {
                    $("#panelRetiro").removeClass("mostrar");
                    $("#panelRetiro").addClass("ocultar");
                    $("#carga").removeClass("ocultar");
                    $("#carga").addClass("mostrar");
                    enviarRetiro();

                }
            });
        });
        function activaModal(texto) {
            $("#modal-text").text(texto);
            var modal = new bootstrap.Modal(document.getElementById('modalError'));
            modal.show();
        }
    </script>
</main>

</html>